@font-face {
  font-family: "Saira";
  src: url('./fonts/Saira-VariableFont_wdth\,wght.ttf')
}

@font-face {
  font-family: "Lato";
  src: url('./fonts/Lato-Regular.ttf')
}

.saira {
  font-family: Saira;
}

body {
  margin: 0 auto;
  overflow: auto;
  box-sizing: border-box;
  color: #333;
  font-family: Lato;
}

h1, h2, h3, h4, h5, h6 {
  margin: 8px 0;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.sider {
  display: block;
  position: sticky;
  top: 0;
  background-color: #F3F3F7;
  flex-basis: 16%;
  height: 100%;
}

.sider a {
  color: #333;
}

.sider a:hover {
  color: #333;
}

.sider-admin {
  display: block;
  position: sticky;
  top: 0;
  background-color: #334;
  flex-basis: 16%;
  height: 100%;
}

.sider-admin a, .sider-admin img {
  color: rgba(255, 255, 255, 0.87);
}

.sider-admin a:hover {
  color: rgba(255, 255, 255, 0.87);
}

main {
  background-color: #FFF;
  flex-basis: 84%;
  padding: 8px 32px 32px 32px;
  height: fit-content;
}

main > header > h1 {
  font-weight: 400;
}

main > article.dashboard > h1 {
  font-weight: 400;
  font-size: 48px;
}

.flex-basis-50 {
  flex-basis: 50%;
}

.flex-basis-40 {
  flex-basis: 45%;
}

.flex-basis-60 {
  flex-basis: 55%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.shadow-1 {
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.2);
}

.shadow-2 {
  box-shadow: 0px 8px 64px 0px rgba(0, 0, 0, 0.25);
}

article.content {
  box-sizing: border-box;
  width: auto;
  min-width: 400px;
  padding: 16px 32px 32px 32px;
}

article.register {
  width: 50%;
  padding: 8px 32px;
}

article.content form>h1 {
  font-size: 28px;
  padding-bottom: 8px;
}

article.content form>h2 {
  font-size: 16px;
  margin: 16px 0 8px 0;
}

.m-16 {
  margin: 16px;
}

.m-24 {
  margin: 24px;
}

.m-32 {
  margin: 32px;
}

.mb-12 {
  margin-bottom: 12px;
}

.w-100 {
  width: 100%;
}

.card {
  background-color: #FFF;
}

nav>header {
  margin-bottom: 32px!important;
}

header>h1 {
  font-family: Saira;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: #27F;
}

a:hover {
  color: #4F9FFF;
}

.nav {
  padding: 2px 10px;
}

.nav>p {
  font-size: 14px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 8px;
}

.nav:hover {
  background-color: #FFF;
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.2); 
  border-radius: 2px;
}

.admin:hover {
  background-color: #404060;
  box-shadow: none;
}

.active {
  background-color: #FFF;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2); 
  border-radius: 2px;
}

.admin.active {
  background-color: #404060;
  box-shadow: unset;
}

.admin.active:hover {
  box-shadow: unset; 
}

.copyright {
  font-size: 14px;
  position: absolute;
  bottom: 0;
  color: #AAA;
}

.t-center {
  text-align: center;
}

.t-right {
  text-align: right;
}

.login {
  background-image: url('./img/Login\ Background.svg');
  padding: 60px 80px;
  width: 100%;
  height: 100%;
  color: #FFF;
}

.login .title {
  line-height: 100px;
  white-space: 0px;
  margin: 0;
  font-family: Saira;
  font-size: 80px;
  font-weight: 600;
} 

.login .subtitle {
  line-height: 48px;
  margin: 0;
  font-family: Saira;
  font-size: 54px;
  font-weight: 500;
}

.login footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 60px;
}

.login footer>p {
  margin: 0;
}

.login main {
  display: block;
  overflow: auto;
  color: #333;
  border-radius: 4px;
  box-shadow: 0px 8px 64px 0px rgba(0, 0, 0, 0.4);
}

form > p {
  margin: 8px auto;
  font-size: 16px;
}

.form-login input {
  font-family: Lato;
  width: 100%;
  height: 40px;
  font-size: 20px;
  padding: 4px;
  margin-bottom: 16px;
}

input:focus {
  outline: none;
}

input {
  min-height: 28px;
  width: 100%;
  padding: 4px;
}

label {
  display: block;
  font-size: 13px;
  margin-bottom: 4px;
}

.mt-32 {
  margin-top: 24px;
}

input[type="submit"] {
  font-size: 14px;
  margin-top: 32px;
  height: 40px;
  width: auto;
  color: #FFF;
  padding: 0 24px;
  background-color: #27F;
  border: 1px solid #27F;
  border-radius: 4px;
}

input[type="submit"]:hover {
  background-color: #FFF;
  color: #27F;
  cursor: pointer;
}

.login form {
  margin: 64px 0;
}

.login main>a {
  margin-top: 128px;
}

select {
  font-family: Lato;
  width: 100%;
  height: 28px;
  padding: 4px;
  margin-bottom: 16px;
}

select:focus {
  outline: none;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

hr {
  margin: 0 32px;
}

form span {
  display: block;
  color: #AA7;
  font-size: 12px;
  margin-top: 2px;
}

table.account {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
  text-align: left;
}

tr:nth-child(odd) {
  background-color: rgba(51,51,69,0.1);
}

tr:nth-child(even) {
  background-color: rgba(51,51,69,0.025);
}

th {
  border-bottom: 1px solid #333;
}

td, th {
  padding: 8px;
}

table .action {
  text-align: center;
  width: 12%;
}

table .index {
  width: 25%;
}

table .level {
  width: 16%;
}

.inline-block {
  display: inline-block;
}

.account-header {
  display: table;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 8px;
}

.account-header > * {
  display: table-cell;
}

.account-header > *:last-child {
  text-align: right;
}

button {
  border: unset;
  border-radius: 4px;
  min-height: 32px;
  min-width: 40px;
  cursor: pointer;
}

button.warning {
  background-color: #FAD202;
}

button.danger {
  background-color: #EA1601;
}

button.warning:hover {
  box-shadow: 0px 4px 8px 0px rgba(250,210,2,0.5);
}

button.danger:hover {
  box-shadow: 0px 4px 8px 0px rgba(234,22,1,0.5);
}